/*
* @Author: zyb
* @Date:   2017-05-08 23:52:47
* @Last Modified by:   zyb
* @Last Modified time: 2017-06-10 20:19:32
*/
/**
 * 当前位置
 */
.urls{
	width: 100%;
	background: white;
	padding: 10px;
	margin-bottom: 15px;
}
.urls small a{
	color: yellowgreen;
	transition: color .25s linear;
}
.urls small a:hover{
	color: green;
}
/**
 * 文章分类
 */
.clasifys {
	background: white;
	margin-bottom: 15px;
	padding: 15px;
	overflow: hidden;
}
.clasifys h3{
	padding: 10px 0 10px 0;
	border-bottom: 1px dashed gray;
}
.clasifys ul li {
	display: inline-block;
	float: left;
	padding:10px 10px 0 10px;
	color: yellowgreen;
	border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.clasifys ul li:hover{
	transition: all .25s linear;
	border-bottom: 1px solid yellowgreen;
}
.clasifys ul li a span{
	font-size: 12px;
	color: gray;
}
.clasifys .yellowgreen{
	border-bottom: 1px solid yellowgreen;
}
/**
 * 文章列表
 */
.articlelist h4 small {
	padding: 0 15px 0 15px;
	font-size: 12px;
}
.articlelist h4 small a{
	color: lightskyblue;
	transition: color .25s linear;
}
.articlelist h4 small a:hover{
	color: blue;
}
.container .links{
	margin-top: 0px;
}