/*
* @Author: zyb
* @Date:   2017-05-12 14:02:37
* @Last Modified by:   zyb
* @Last Modified time: 2017-06-10 23:50:48
*/
/**
 * 当前位置
 */
.urls{
	width: 100%;
	background: white;
	padding: 10px;
	margin-bottom: 15px;
}
.urls small a{
	color: yellowgreen;
	transition: color .25s linear;
}
.urls small a:hover{
	color: green;
}
/**
 * 留言
 */
.message{
	padding: 10px;
	background: white;
	overflow: hidden;
	margin-bottom: 15px;
}
.message h4 {
	font-size: 20px;
	border-bottom: 1px dashed gray;
	padding: 10px 0 10px 0;
}
.message .messages ul li{
	padding: 10px;
}
.message .messages ul li img{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	float: left;
	margin-right: 15px;
}

.message .messages ul li p{
	line-height: 20px;
	word-break: break-all;
	font-size: 14px;
}
.message .messages ul li p small{
	font-size: 12px;
	padding: 3px;
	color: yellowgreen;
}
.message .messages ul li p .answerMessage{
	font-size: 12px;
	padding:0 15px;
	color: yellowgreen;
	transition: color .25s linear;
}
.message .messages ul li p .answerMessage:hover{
	color:orange;
}
/*动态添加的回复框*/
.message .messages ul li #answerMessageCon{
	width: 100%;
	transition: all .25s linear;
	height: 30px;
	padding:0 10px;
	border-radius: 3px;
	border:1px solid lightgray;
	box-shadow: 0 0 0 #66afe9;
}
.message .messages ul li #answerMessageCon:focus{
	border: 1px solid lightskyblue;
	box-shadow: 0 0 2px #66afe9;
}
.message .messages ul li .confirmAnswer{
	font-size: 12px;
	padding:3px 6px;
	color: #C7FC86;
	transition: all .25s linear;
}
.message .messages ul li .confirmAnswer:hover{
	color: #A3FD3B;
}
.message .messages ul li .cancelAnswer{
	font-size: 12px;
	padding:3px 6px;
	color: #FCC994;
	transition: all .25s linear;
}
.message .messages ul li .cancelAnswer:hover{
	color: #FAA54B
}
/**
 * 发表留言
 */
.makeMess{
	background: white;
	width: 100%;
	padding: 10px;
}
.makeMess h4{
	padding: 10px 0 10px 0;
	font-size: 20px;
}
.makeMess p input {
	width: 60px;
	height: 25px;
	margin: 10px 10px 0 10px;
	border: none;
	cursor: pointer;
	background: #C7FC86;
	transition: background .25s linear;
}
.makeMess p input:hover{
	background: #A3FD3B;
}