<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Seaweed's web</title>
        <link rel="shortcut icon" href="__PUBLIC__/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/initialize.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/public.css">
    </head>
    <body>
    	<footer>
            <i class="icon-arrow-up toTop" style="display: none;"></i>
    		<div class="footer_content">
    			<h4>站点统计</h4>
    			<p><span><i class="icon-info-sign"></i> 建站：0天</span><span><i class="icon-pencil"></i> 文章：{$CountArticle}篇</span></p>
    			<p><span><i class="icon-tags"></i> 访问：0次</span><span><i class="icon-envelope"></i> 留言：{$CountMessage}条</span></p>
    			<p><span><i class="icon-comment"></i> 评论：{$CountComment}个</span><span><i class="icon-link"></i> 链接：{$CountLinkds}个</span></p>
    			<p></p>
    		</div>
    		<div class="footer_content">
    			<h4>程序交流</h4>
    			<p><span><i class="icon-cog"></i> 程序：Seaweed's Blog</span><span><i class="icon-flag"></i> 框架：Thinkphp</span></p>
    			<p><span><i class="icon-cogs"></i> 编码：utf-8</span><span><i class="icon-user"></i> 作者：Seaweed</span></p>
    			<p><span><i class="icon-globe"></i> 语言：PHP/Mysql</span><span><i class="icon-comments"></i> 微信：LDW-Zyb</span></p>
    		</div>
    		<h4><span>&copy;2017  Seaweed's Blog All Rights Reserved</span><span><a href="###"><i class="icon-home"></i> 管理登陆</a> | 粤ICP备17005904号</span></h4>
    	</footer>
    </body>
    <script type="text/javascript" src="__PUBLIC__/js/jquery-3.2.1.min.js"></script>
    <!-- <script type="text/javascript" src="__PUBLIC__/js/public.js"></script> -->
</html>